# readline for windows
pyreadline3; sys_platform == 'win32'
# readline for linux
gnureadline; sys_platform == 'linux'

# color support
termcolor

# renaming of processes and threads via syscalls
# renaming in python alone doesn't update process table
setproctitle

